<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting App Login</title>
</head>
<body>
    <div class="container">
        Welcome to the Voting App Sign Up Page.</br>
        Please enter information below.</br>

        <!--Basic login information to be checked against info in database -->
        <form action="{% url 'checkUser' %}" method="post">
            {% csrf_token %}
            Enter First name:
            <input type="text" name="first name"> </br>
            Enter Last name:
            <input type="text" name="last name"> </br>
            Enter State:
            <input type="text" name="state"> </br>
            Enter ID:
            <input type="text" name="IDNum"> </br>
            Enter email:
            <input type="text" name="email"> </br>
            <input type="button" value="help" name="help">
            <input type="submit" name="submit" value="Sign Up">
        </form>

        <form action="{% url 'login' %}" method="post">{% csrf_token %}
            <input type="submit" name="login" value="Log In">
        </form>

        <a href="http://127.0.0.1:8000/loginHelp/" id="help">help</a>
    </div>
</body>
</html>