<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting App Login</title>
</head>
<body>
    <div class="container">
        Welcome to the Voting App Login Page.</br>
        Please enter information below.</br>
        <form>
            Enter First name:
            <input type="text" name="first name"> </br>
            Enter Last name:
            <input type="text" name="last name"> </br>
            Enter State:
            <input type="text" name="state"> </br>
            <input type="button" value="help" name="help">
            <input type="submit" name="submit">
        </form>
    </div>
</body>
</html>