<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--This page provides information to help the user when logging in-->
    <title>Login Help</title>
</head>
<body>
    <!--Please note that sending the voter's ID to their email has not been implemented yet-->
    <div class="container">
        <p>To login, please enter your first name and last name. Your state must be in the</br>
        United States. Your ID is given to you via email, and will be the main method of</br>
        identification in this voting app. Your email should be provided in the form and will</br>
            be used for confirmation of your vote submission.</br>
        </p>

        <a href="http://127.0.0.1:8000/login/" id="back">back</a>
    </div>
</body>
</html>