<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting App Login</title>
</head>
<body>
    <div class="container">
        Welcome to the Voting App Login Page.</br>
        Please enter information below.</br>

        <!--Page will be brought up if first attempt failed.-->
        <form action="{% url 'checkInput' %}" method="post">
            {% csrf_token %}
            <p style="color:red;">The information provided does not match in our database. Try again.</p>
            Enter First name:
            <input type="text" name="first name"> </br>
            Enter Last name:
            <input type="text" name="last name"> </br>
            Enter State:
            <input type="text" name="state"> </br>
            Enter ID:
            <input type="text" name="IDNum"> </br>
            Enter email:
            <input type="text" name="email"> </br>
            <input type="submit" name="submit">
        </form>

        <!--Link to help page-->
        <a href="http://127.0.0.1:8000/loginHelp/" id="help">help</a>
    </div>
</body>
</html>