<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voting App Login</title>
</head>
<body>
    <div class="container">
        Welcome to the Voting App Login Page.</br>
        Please enter information below.</br>

        <!--Basic login information to be checked against info in database -->
        <form action="{% url 'checkLogin' %}" method="post">
            {% csrf_token %}
            Enter First name:
            <input type="text" name="first name"> </br>
            Enter Last name:
            <input type="text" name="last name"> </br>
            Enter ID:
            <input type="text" name="IDNum"> </br>
            <input type="button" value="help" name="help">
            <input type="submit" name="submit" value="Login">
        </form>

        <form action="{% url 'createUser' %}" method="post">{% csrf_token %}
            <input type="submit" name="createUser" value="Create User">
        </form>

        <!--Link to help page-->
        <a href="http://127.0.0.1:8000/loginHelp/" id="help">help</a>
    </div>
</body>
</html>