
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
/*
div {
    background-color: #1C6EA4;
    padding: 40px;
    border-top: none;

}
*/


ul{
     color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
}

table{
    text-align: left;

}

table th {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    color: white
    border-left: 10px;
    border-right: 10px;
}
table td{
    border: 2px solid black;
    padding: 4px 7px;
}
