<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title> Admin Portal </title>
    <link  rel = "stylesheet" type="text/css" href ="{% static 'css/adminPageCSS.css' %}">

</head>


<body>


    <div>

        <h1>Welcome Admin!</h1>


    </div>
    <table title="Poll Questions">
        <tr>
            <th>Question</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
        </tr>


            {% for pollItem in pollItems %}
                <tr>
                    <td>{{pollItem.question}}</td>
                    <td>{{pollItem.option1}}</td>
                    <td>{{pollItem.option2}}</td>
                    <td>{{pollItem.option3}}</td>
                    <td>{{pollItem.option4}}</td>
                </tr>
            {% endfor %}

    </table>




    <form action='' method='post'>
        {% csrf_token %}
        <br>
        <input type="text" size="101" name="addingQuestion" placeholder="Enter a new ballot question.">
        <br ><br>
        <input type="text" size="101" name="addingQuestionOption1" placeholder="Enter an option to the question.">
        <br>
        <input type="text" size="101" name="addingQuestionOption2" placeholder="Enter an option to the question.">
        <br>
        <input type="text" size="101" name="addingQuestionOption3" placeholder="Enter an option to the question.">
        <br>
        <input type="text" size="101" name="addingQuestionOption4" placeholder="Enter an option to the question.">
        <br><br>

        <button type='submit'>Add a Question</button>
    </form>
<!--
    <form action='deleteQuestion' method='GET'>
        <button type='submit'>Delete a Question</button>
    </form> -->
</body>

<head>

</html>

