<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title> Admin Portal </title>
    <link  rel = "stylesheet" type="text/css" href ="{% static 'css/adminPageCSS.css' %}">

</head>


<body>


    <div>

        <h1>Welcome Admin!</h1>


    </div>
    <table title="Poll Questions">
        <tr>
            <th>Question</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
        </tr>
        <tr>
            <td>Who is your selection for president of the United States?</td>
            <td>Joesph Biden</td>
            <td>Donald Trump</td>
        </tr>

    </table>

</body>
</html>

